@media only screen and (min-width: 1224px) {
  /* Desktop */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .left{
    width: 100%;
  }
  .leftd{
    width: 10%;
    position: relative;
    margin-top: -161%;
    margin-left: 15%;
    animation: leftd 4000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes leftd {
      0% {
          transform:rotate(-5deg);
      }
      10% {
          transform:rotate(5deg);
      }
      20% {
          transform:rotate(-5deg);
      }
      30% {
          transform:rotate(5deg);
      }
      40% {
          transform:rotate(-5deg);
      }
      50% {
          transform:rotate(5deg);
      }
      60% {
          transform:rotate(-5deg);
      }
      70% {
          transform:rotate(5deg);
      }
      80% {
          transform:rotate(-5deg);
      }
      90% {
          transform:rotate(5deg);
      }
      100% {
          transform:rotate(-5deg);
      }

  }
  .right{
    width: 160%;
  }
  .rightd{
    width: 10%;
    position: relative;
    margin-top: -80%;
    margin-left: 73%;
    animation: rightd 4000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes rightd {
      0% {
          transform:rotate(7deg);
      }
      10% {
          transform:rotate(-7deg);
      }
      20% {
          transform:rotate(7deg);
      }
      30% {
          transform:rotate(-7deg);
      }
      40% {
          transform:rotate(7deg);
      }
      50% {
          transform:rotate(-7deg);
      }
      60% {
          transform:rotate(7deg);
      }
      70% {
          transform:rotate(-7deg);
      }
      80% {
          transform:rotate(7deg);
      }
      90% {
          transform:rotate(-7deg);
      }
      100% {
          transform:rotate(7deg);
      }

  }
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .knopka{
    position: absolute;
    z-index: 8;
      width: 15%;
      margin-left:12%;
      margin-top: 13%;
  }
  .knopka2{
    position: absolute;
    z-index: 8;
    margin-left: 19%;
      width: 15%;
      margin-top: 13%;
  }
  .knopka3{
    position: absolute;
    z-index: 8;
    width: 15%;
    margin-left: 5%;
      margin-top: 13%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .left{
    width: 100%;
  }
  .leftd{
    width: 10%;
    position: relative;
    margin-top: -161%;
    margin-left: 15%;
    animation: leftd 4000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes leftd {
      0% {
          transform:rotate(-5deg);
      }
      10% {
          transform:rotate(5deg);
      }
      20% {
          transform:rotate(-5deg);
      }
      30% {
          transform:rotate(5deg);
      }
      40% {
          transform:rotate(-5deg);
      }
      50% {
          transform:rotate(5deg);
      }
      60% {
          transform:rotate(-5deg);
      }
      70% {
          transform:rotate(5deg);
      }
      80% {
          transform:rotate(-5deg);
      }
      90% {
          transform:rotate(5deg);
      }
      100% {
          transform:rotate(-5deg);
      }

  }
  .right{
    width: 160%;
  }
  .rightd{
    width: 10%;
    position: relative;
    margin-top: -80%;
    margin-left: 73%;
    animation: rightd 4000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes rightd {
      0% {
          transform:rotate(7deg);
      }
      10% {
          transform:rotate(-7deg);
      }
      20% {
          transform:rotate(7deg);
      }
      30% {
          transform:rotate(-7deg);
      }
      40% {
          transform:rotate(7deg);
      }
      50% {
          transform:rotate(-7deg);
      }
      60% {
          transform:rotate(7deg);
      }
      70% {
          transform:rotate(-7deg);
      }
      80% {
          transform:rotate(7deg);
      }
      90% {
          transform:rotate(-7deg);
      }
      100% {
          transform:rotate(7deg);
      }

  }
}
.rh3{
  width: 205%;
}
.rh3d{
  width: 10%;
  z-index: 7;
  position: absolute;
  margin-top: -163%;
  margin-left: 70%;
  animation: rh3 3000ms linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes rh3 {
    0% {
        transform:rotate(10deg);
    }
    10% {
        transform:rotate(-10deg);
    }
    20% {
        transform:rotate(10deg);
    }
    30% {
        transform:rotate(-10deg);
    }
    40% {
        transform:rotate(10deg);
    }
    50% {
        transform:rotate(-10deg);
    }
    60% {
        transform:rotate(10deg);
    }
    70% {
        transform:rotate(-10deg);
    }
    80% {
        transform:rotate(10deg);
    }
    90% {
        transform:rotate(-10deg);
    }
    100% {
        transform:rotate(10deg);
    }

}
.lh3{
  width: 205%;
}
.lh3d{
  width: 10%;
  z-index: 7;
  position: absolute;
  margin-top: -165%;
  margin-left: 5%;
  animation: lh3 3000ms linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes lh3 {
    0% {
        transform:rotate(10deg);
    }
    10% {
        transform:rotate(-10deg);
    }
    20% {
        transform:rotate(10deg);
    }
    30% {
        transform:rotate(-10deg);
    }
    40% {
        transform:rotate(10deg);
    }
    50% {
        transform:rotate(-10deg);
    }
    60% {
        transform:rotate(10deg);
    }
    70% {
        transform:rotate(-10deg);
    }
    80% {
        transform:rotate(10deg);
    }
    90% {
        transform:rotate(-10deg);
    }
    100% {
        transform:rotate(10deg);
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 361px) {
  .b2{
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
    margin-top: -107%;
    padding-top: 5%;
    z-index: 3;
  }
  .chel{
    width: 78%;
    position: relative;
  }
  .cheld{
    margin-left: 23%;
    margin-top: 0%;
  position: relative;
    z-index: 2;
  }
  .gt2{
  width:39%;
    animation: gtd2 6000ms linear infinite;
    position: relative;
  }
  .gt2d{
    width: 50%;
    margin-top:-188%;
    margin-left: 40%;
      position: absolute;
        z-index: 2;
  }
  .flower1 {
    width:25%;
    position: absolute;
    animation: flower1 4000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes flower1 {
    0% {left:0%;
      top:15%;}
    50% {top:50%;}
    100% {left:0%;
       top:15%;}
  }
  .flower2 {
    width:32%;
    position: absolute;
    animation: flower2 4000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes flower2 {
    0% {left:0%;
      top:50%;}
    50% {top:0%;}
    100% {left:0%;
       top:50%;}
  }
  .flower3 {
    width:50%;
    position: absolute;
    animation: flower3 4000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes flower3 {
    0% {left:0%;
      top:0%;}
    50% {top:50%;}
    100% {left:0%;
       top:0%;}
  }
  .flower4 {
    width:78%;
    position: absolute;
    animation: flower4 4000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes flower4 {
    0% {left:0%;
      top:50%;}
    50% {top:0%;}
    100% {left:0%;
       top:50%;}
  }
  .babochka1{
    position: absolute;
    width: 17%;
    margin-top: 30%;
    margin-left: 10%;
    animation: babochka1 9000ms linear infinite;
    animation-timing-function: ease-in-out;
      z-index: 2;
  }
  @keyframes babochka1 {
    0% {left:0%;
    top:0%;
  transform: rotate(110deg);}
    25% {left:50%;
    top: 30%;
  transform: rotate(230deg);}
  50%{left:10%;
  top: 40%;
  transform: rotate(350deg);}
  100%{left:0%;
    top:0%;
  transform: rotate(470deg);}
  }
  .babochka2{
    position: absolute;
    width: 17%;
    margin-top: 30%;
    margin-left: 80%;
    animation: babochka2 8000ms linear infinite;
      animation-timing-function: ease-in-out;
        z-index: 2;
  }
  @keyframes babochka2 {
    0% {left:0%;
    top:0%;
  transform: rotate(0deg);}
    25% {left:0%;
    top: 30%;
  transform: rotate(0deg);}
  50%{left:-70%;
  top: 10%;
  transform: rotate(40deg);}
  100%{left:0%;
    top:0%;
  transform: rotate(0deg);}
  }
  .babochka3{
    position: absolute;
    width: 17%;
    margin-top: 40%;
    margin-left: 30%;
    animation: babochka3 10000ms linear infinite;
      animation-timing-function: ease-in-out;
      z-index: 0;
  }
  @keyframes babochka3 {
    0% {left:0%;
    top:0%;
  transform: rotate(0deg);}
    25% {left:44%;
    top: 30%;
  transform: rotate(-60deg);}
  50%{left:-15%;
  top: 30%;
  transform: rotate(40deg);}
  100%{left:0%;
    top:0%;
  transform: rotate(0deg);}
  }
  .babochka4{
    position: absolute;
    z-index: 2;
    width: 17%;
    margin-top: 60%;
    margin-left: 70%;
    animation: babochka4 12000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes babochka4 {
    0% {left:0%;
    top:0%;
  transform: rotate(0deg);}
    25% {left:0%;
    top: 30%;
  transform: rotate(120deg);}
  50%{left:-35%;
  top: 30%;
  transform: rotate(40deg);}
  100%{left:0%;
    top:0%;
  transform: rotate(0deg);}
  }
  .babochka5{
    z-index: 2;
    position: absolute;
    width: 17%;
    margin-top: 85%;
    margin-left: 20%;
    animation: babochka5 11000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes babochka5 {
    0% {left:0%;
    top:0%;
  transform: rotate(0deg);}
    25% {left:60%;
    top: 20%;
  transform: rotate(120deg);}
  50%{left:0%;
  top: 20%;
  transform: rotate(40deg);}
  100%{left:0%;
    top:0%;
  transform: rotate(0deg);}
  }
  .ladder{
    margin-top: -24%;
    position: relative;
    z-index: 1;
  }
  .skel{
    width: 39%;
  }
  .skeld{
    position: relative;
    text-align: center;
    margin-top: -170%;
    z-index: 2;
  }
  .left{
    width: 82%;
  }
  .leftd{
    width: 10%;
    position: relative;
    margin-top: -134%;
    margin-left: 22%;
    animation: leftd 4000ms linear infinite;
      animation-timing-function: ease-in-out;
        z-index: 1;
  }
  @keyframes leftd {
      0% {
          transform:rotate(-5deg);
      }
      10% {
          transform:rotate(5deg);
      }
      20% {
          transform:rotate(-5deg);
      }
      30% {
          transform:rotate(5deg);
      }
      40% {
          transform:rotate(-5deg);
      }
      50% {
          transform:rotate(5deg);
      }
      60% {
          transform:rotate(-5deg);
      }
      70% {
          transform:rotate(5deg);
      }
      80% {
          transform:rotate(-5deg);
      }
      90% {
          transform:rotate(5deg);
      }
      100% {
          transform:rotate(-5deg);
      }

  }
  .right{
    width: 130%;
  }
  .rightd{
    width: 10%;
    position: relative;
    margin-top: -65%;
    margin-left: 70%;
    animation: rightd 4000ms linear infinite;
      animation-timing-function: ease-in-out;
        z-index: 1;
  }
  @keyframes rightd {
      0% {
          transform:rotate(7deg);
      }
      10% {
          transform:rotate(-7deg);
      }
      20% {
          transform:rotate(7deg);
      }
      30% {
          transform:rotate(-7deg);
      }
      40% {
          transform:rotate(7deg);
      }
      50% {
          transform:rotate(-7deg);
      }
      60% {
          transform:rotate(7deg);
      }
      70% {
          transform:rotate(-7deg);
      }
      80% {
          transform:rotate(7deg);
      }
      90% {
          transform:rotate(-7deg);
      }
      100% {
          transform:rotate(7deg);
      }

  }
  .gt{
  width:38%;
    animation: gtd 4000ms linear infinite;
    position: relative;
  }
  .gtd{
    width: 50%;
    margin-top:-106%;
    margin-left: 40%;
      position: relative;
  z-index: 2;
  }
  .hskel1{
      position: absolute;
  width:30%;
  animation: hskel1 3000ms linear infinite;
    animation-timing-function: ease-in-out;
  }
  .hskel1d{
      position: relative;
    margin-top:64%;
  overflow: hidden;
  padding-bottom: 94%;
  z-index: 2;
  }
  @keyframes hskel1 {
    0% {left:0%;
      top:10%;}
    50% {left:-10%;
      top:50%;}
    100% {left:0%;
       top:10%;}
  }
  .hskel2d{
      position: relative;
      margin-top: -50.5%;
      margin-left: 20%;
      padding-bottom: 50.5%;
      overflow: hidden;
      z-index: 2;
  }
  .hskel2 {
    width:20%;
    position: absolute;
    animation: hskel2 2000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes hskel2 {
    0% {left:0%;
      top:21%;}
    50% {top:50%;}
    100% {left:0%;
       top:21%;}
  }
  .hskel3d{
      position: relative;
      margin-top: -78.5%;
      margin-left: 40%;
      padding-bottom: 78.5%;
      overflow: hidden;
      z-index: 1;
  }
  .hskel3 {
    width:27%;
    position: absolute;
    animation: hskel3 2500ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes hskel3 {
    0% {left:0%;
      top:11%;}
    50% {top:50%;}
    100% {left:0%;
       top:11%;}
  }
  .hskel4d{
      position: relative;
      margin-top: -85%;
      margin-left: 57%;
      padding-bottom: 85%;
      overflow: hidden;
      z-index: 2;
  }
  .hskel4 {
    width:38%;
    position: absolute;
    animation: hskel4 2000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes hskel4 {
    0% {left:0%;
      top:21%;}
    50% {top:60%;}
    100% {left:0%;
       top:21%;}
  }
  .hskel5d{
      position: relative;
      margin-top: -80%;
      margin-left: 60%;
      padding-bottom: 80%;
      overflow: hidden;
      z-index: 2;
  }
  .hskel5 {
    width:98%;
    position: absolute;
    animation: hskel5 2000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes hskel5 {
    0% {left:20%;
      top:60%;}
    50% {top: 10%;
    left:-8%;}
    100% {left:20%;
       top:60%;}
  }
  .flames{
    position: relative;
    width: 100%;
    margin-top: -179%;
    padding-bottom: 100%;

  }
  .Vector {
  width: 50%;
    position: relative;
  }
  @keyframes Vector {
    0% {left:0%;
    top:0%;}
    25% {left:70%;
    top: 60%;}
  50%{left:10%;
  top: 90%;}
  100%{left:0%;
    top:0%;}
  }
  @keyframes Vector1 {
    0% {left:0%;
    top:0%;}
    25% {left:0%;
    top: 70%;}
  50%{left:-70%;
  top: 30%;}
  100%{left:0%;
    top:0%;}
  }
  @keyframes Vector2 {
    0% {left:0%;
    top:-10%;}
    25% {left:50%;
    top: 50%;}
  50%{left:-20%;
  top: 50%;}
  100%{left:0%;
    top:-10%;}
  }
  @keyframes Vector3 {
    0% {left:0%;
    top:-10%;}
    25% {left:60%;
    top: 20%;}
  50%{left:-10%;
  top: 30%;}
  100%{left:0%;
    top:-10%;}
  }
  @keyframes Vector4 {
    0% {left:0%;
    top:0%;}
    25% {left:0%;
    top: 30%;}
  50%{left:-40%;
  top: 20%;}
  100%{left:0%;
    top:0%;}
  }
  .knopka{
    position: absolute;
    z-index: 8;
      width: 15%;
      margin-left:12%;
      margin-top: 45%;
  }
  .knopka2{
    position: absolute;
    z-index: 8;
    margin-left: 19%;
      width: 15%;
      margin-top: 45%;
  }
  .knopka3{
    position: absolute;
    z-index: 8;
    width: 15%;
    margin-left: 5%;
      margin-top: 45%;
  }
  .skel3{
    width: 47%;
    position: relative;
  }
  .skel3d{
    margin-left: 33%;
    margin-top: 31%;
  position: relative;
          z-index: 7;
  }
  .gt3{
  width:38%;
    animation: gtd3 2000ms linear infinite;
    position: relative;
  }
  .gt3d{
    width: 50%;
    margin-top:-104%;
    margin-left: 40%;
      position: absolute;
              z-index: 7;
  }
  .rightl{
    width: 240%;
  }
  .rightld{
    width: 10%;
        z-index: 7;
    position: relative;
    margin-top: -8%;
    margin-left: 55%;
    animation: rightld 3000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  .leftl{
    width: 238%;
  }
  .leftld{
    width: 10%;
    z-index: 7;
    position: relative;
    margin-top: -85%;
    margin-left: 20%;
    animation: leftld 3000ms linear infinite;
      animation-timing-function: ease-in-out;
  }
  .niz {
    width: 100%;
    position: relative;
    animation: niz 2000ms linear infinite;
  }
.nizd{
  width: 100%;
  position: absolute;
  margin-top: -19.5%;
  overflow: hidden;
  z-index: 7;
}
.niz1 {
  width: 100%;
  position: relative;
  animation: niz1 2000ms linear infinite;
}
.niz1d{
width: 100%;
position: absolute;
margin-top: -19.5%;
overflow: hidden;
z-index: 7;
}
.hand1d{
    position: relative;
    margin-top: -70%;
    margin-left: -0%;
    padding-bottom: 70%;
    overflow: hidden;
      z-index: 8;
}
.hand1 {
  width:16%;
  position: absolute;
  animation: hand1 2000ms linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes hand1 {
  0% {left:0%;
    top:38%;}
  50% {top:-0%;}
  100% {left:0%;
     top:38%;}
}
.hand2d{
    position: relative;
    margin-top: -70%;
    margin-left: 15%;
    padding-bottom: 70%;
    overflow: hidden;
}
.hand2 {
  width:18%;
  position: absolute;
  animation: hand2 1000ms linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes hand2 {
  0% {left:0%;
    top:0%;}
  50% {top:45%;}
  100% {left:0%;
     top:0%;}
}
.hand3d{
    position: relative;
    margin-top: -70%;
    margin-left: -10%;
    padding-bottom: 70%;
    overflow: hidden;
}
.hand3 {
  width:12%;
  position: absolute;
  animation: hand3 3000ms linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes hand3 {
  0% {left:0%;
    top:0%;}
  50% {top:50%;}
  100% {left:0%;
     top:0%;}
}
.hand4d{
    position: relative;
    margin-top: -70%;
    margin-left: 28%;
    padding-bottom: 70%;
    overflow: hidden;
    z-index: 8;
}
.hand4 {
  width:23%;
  position: absolute;
  animation: hand4 1500ms linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes hand4 {
  0% {left:0%;
    top:0%;}
  50% {top:50%;}
  100% {left:0%;
     top:0%;}
}
.hand5d{
    position: relative;
    margin-top: -70%;
    margin-left: 39%;
    padding-bottom: 70%;
    overflow: hidden;
}
.hand5 {
  width:26%;
  position: absolute;
  animation: hand5 1500ms linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes hand5 {
  0% {left:0%;
    top:40%;}
  50% {top:0%;}
  100% {left:0%;
     top:40%;}
}
.hand6d{
    position: relative;
    margin-top: -70%;
    margin-left: 53%;
    padding-bottom: 70%;
    overflow: hidden;
    z-index: 8;
}
.hand6 {
  width:35%;
  position: absolute;
  animation: hand6 2000ms linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes hand6 {
  0% {left:0%;
    top:0%;}
  50% {top:50%;}
  100% {left:0%;
     top:0%;}
}
.hand7d{
    position: relative;
    margin-top: -70%;
    margin-left: 70%;
    padding-bottom: 70%;
    overflow: hidden;
}
.hand7 {
  width:52%;
  position: absolute;
  animation: hand7 1000ms linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes hand7 {
  0% {left:0%;
    top:40%;}
  50% {top:0%;}
  100% {left:0%;
     top:40%;}
}
.hand8d{
    position: relative;
    margin-top: -70%;
    margin-left: 85%;
    padding-bottom: 70%;
    overflow: hidden;
}
.hand8 {
  width:110%;
  position: absolute;
  animation: hand8 2000ms linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes hand8 {
  0% {left:0%;
    top:40%;}
  50% {top:0%;}
  100% {left:0%;
     top:40%;}
}
.back{
  width: 48%;
}
.backd{
  width: 10%;
  z-index: 7;
  position: absolute;
  margin-top: -162%;
  margin-left: 46%;
  animation: backd 2000ms linear infinite;
    animation-timing-function: ease-in-out;
}
.bone1{
  width: 420%;
  animation: bone1 1000ms linear infinite;
    animation-timing-function: ease-in-out;
}
.bone1d{
  width: 10%;
  z-index: 7;
  position: absolute;
  margin-top: -153%;
  margin-left: 27%;
}
.bone2{
  width: 365%;
  animation: bone2 1000ms linear infinite;
    animation-timing-function: ease-in-out;
}
.bone2d{
  width: 10%;
  z-index: 7;
  position: absolute;
  margin-top: -146%;
  margin-left: 29%;
}
.bone3{
  width: 310%;
  animation: bone1 1000ms linear infinite;
    animation-timing-function: ease-in-out;
}
.bone3d{
  width: 10%;
  z-index: 7;
  position: absolute;
  margin-top: -138%;
  margin-left: 32%;
}
.bone4{
  width: 365%;
  animation: bone2 1000ms linear infinite;
    animation-timing-function: ease-in-out;
}
.bone4d{
  width: 10%;
  z-index: 7;
  position: absolute;
  margin-top: -130%;
  margin-left: 29%;
}
.bone5{
  width: 420%;
  animation: bone1 1000ms linear infinite;
    animation-timing-function: ease-in-out;
}
.bone5d{
  width: 10%;
  z-index: 7;
  position: absolute;
  margin-top: -121%;
  margin-left: 27%;
}
.rh3{
  width: 190%;
}
.rh3d{
  width: 10%;
  z-index: 7;
  position: absolute;
  margin-top: -152%;
  margin-left: 68%;
  animation: rh3 3000ms linear infinite;
    animation-timing-function: ease-in-out;
}
.lh3{
  width: 187%;
}
.lh3d{
  width: 10%;
  z-index: 7;
  position: absolute;
  margin-top: -152%;
  margin-left: 10%;
  animation: lh3 3000ms linear infinite;
    animation-timing-function: ease-in-out;
}
.flames3{
  position: absolute;
  width: 100%;
  margin-top: -195%;
  padding-bottom: 100%;
}
.flame1 {
width: 55%;
  position: relative;
}
.ogni1d{
width: 100%;
position: absolute;
margin-top: -223%;
overflow: hidden;
z-index: 3;
}
.ognid{
width: 100%;
position: absolute;
margin-top: -223%;
overflow: hidden;
z-index: 3;
}
}
